<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<!-- fontawesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
		<!-- coustom css -->
		<link rel="stylesheet" type="text/css" href="css/homestyle.css">
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<title>Post</title>
	</head>
	<body>
		<!-- nav -->
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="navbarTopFixed">
			<div class="container">
				<a class="navbar-brand" href="#">Home</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown p-2">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAuthor" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Authors
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownAuthor">
								<a class="dropdown-item" href="#">BK</a>
								<a class="dropdown-item" href="#">Jhon Doe</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">some moer</a>
							</div>
						</li>
						<li class="nav-item dropdown p-2">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Categories
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Java</a>
								<a class="dropdown-item" href="#">Python</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something</a>
							</div>
						</li>
						<li class="nav-item p-2">
							<a class="nav-link" href="#">Post</a>
						</li>
						<li class="nav-item p-2">
							<a class="nav-link" href="#">About Us</a>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0 p-2">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
		<!-- end Nav -->
		<!-- Banner -->
		<section>
			<div class="container-fluid">
				<div class="row herosection justify-content-center align-items-center">
					<div class="col-sm-10 text-center">
						<h4 class="display-1 text-light">Post's </h4>
						<span class="text-light display-4 font-italic font-confortaa">In My Technical Blog</span>
					</div>
				</div>
			</div>
		</section>
		<!--end Banner -->
		
		<!-- post -->
		<div class="container">
			<!--			<div class="row">-->
			<h2 class="mt-5 display-4 text-center rndmBgClr">Top Posts</h2>
			<div class="col-md-9 mt-5 p-3">
				<h1 class="text-primary"><a href="">Post One </a></h1>
				<h5 class="text-primary">By - <a href="#">Author Name</a></h5>
				<div class="text-primary font-italic mb-2">
					<i class="fa fa-tags p-1"> Python</i>
					<i class="fa fa-tags p-1"> Python</i>
				</div>
				<img src="http://www.zem.com.my/images/wp-content/global/uploads/2014/01/placeholders/765x255.gif" alt="" class="img-fluid">
				<div class="pt-4">
					<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quibusdam doloremque quasi laborum doloribus blanditiis laboriosam ducimus, officia debitis distinctio. Eaque, quas, illum. Aliquid molestiae, atque eaque omnis voluptatem voluptate?</p>
				</div>
				<a href="#" class="btn btn-primary p-2"> Read More <i class="p-2 fa fa-chevron-right"></i></a>
				<hr>
			</div>
			
			<!--			</div>-->
		</div>
		
		<!--End post -->
		
		
		
		<!--		footer-->
		<footer class="bg-dark">
			<div class="container">
				<h2 class="display-4 text-center text-white">&copy; MTB</h2>
			</div>
		</footer>
		<!--		end footer-->
		
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS at last costom js -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="js/all.js" type="text/javascript"></script>
	</body>
</html>